@CHARSET "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
	}
	
ol, ul {list-style: none;}

blockquote, q {quotes: none;}/* 去掉引用里的引号 */

:focus {outline: 0;}

table {border-collapse: collapse;border-spacing: 0;}
table caption{display:none;}  /*表格的标题隐藏*/
a{text-decoration:none;}

/*文字排版*/
.f6{font-size: 6px;}
.f8{font-size: 8px;}
.f10{font-size: 10px;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}
.f26{font-size: 26px;}
.f28{font-size: 28px;}
.f32{font-size: 32px;}
.f36{font-size: 36px;}
.f40{font-size: 40px;}

/*定位*/
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
.fl{float:left;}
.fr{float:right;}
.cl{clear:left;}
.cb{clear:both;}
.cr{clear:right;}

.pr{position:relative;}
.pa{position:absolute;}


/*隐藏*/
.none{display:none;}
.db{display: block;}
.did{display: inline-block;}
.ofh{overflow: hidden;}