@CHARSET "UTF-8";
* {
    font-size: 16px;
    font-family: "Microsoft YaHei", "微软雅黑";
}

html, body{background-color: #f8f8f8}
/*头部菜单栏*/
.body_width {
    width: 1000px;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    /*position: fixed;*/
    left: 0px;
    top: 0px;
    z-index: 9999;
}

.header > div {
    margin: 0px auto;
    overflow: hidden;
}

.header .logo {
    display: block;
    float: left;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-indent: 50px;
    background: url(../jk.png) no-repeat left center;
    background-size: 32px 32px;
}

.header .logo span{
    font-size: 20px;
}

.header .menu_div {
    width: 70%;
    float: left;
}

.menu_div .menu {
    overflow: hidden;
}

.menu_div .menu li a {
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    color: #353535;
    font-size: 16px;
    font-size: 20px;
    text-align: center;
    margin-right:40px;
}

.menu_div .menu li:HOVER a, .menu_div .menu li.active a {
    color: #31B151;
    border-bottom: 1px solid #31B151;
}

.login{
    position: absolute;
    right: 0px;
    top:15px;
    display: block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    color:#3A83FB;
    font-size: 14px;
}

.recommend_products{
    width:30%;
    height: 144px;
    float: left;
}
.recommend_products .swiper-container{
    width: 240px;
    height: 100%;
    float: left;
}

.recommend_products .swiper-container .swiper-button-next,
.recommend_products .swiper-container .swiper-button-prev{
    width: 15px;
    height: 20px;
    background-size: 15px 20px;
    top:60%;
}
.recommend_products .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0px 3px;
}
/*主体内容*/
.content {
    margin: 60px auto 50px;
    overflow: hidden;
}

.search_div {
    width: 60%;
    height: 80px;
    float: right;
    margin-top: 20px;
    margin-right: 5%;
}

.search_div > div {
    width: 500px;
    float: left;
}

.search_div ul {
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
}

.search_div ul li {
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 14px;
    margin-right: 5px;
    padding: 0px 10px;
    cursor: pointer;
}

.search_div ul li:hover, .search_div ul li.active {
    background-color: #30B051;
    color: #fff;
}

.search_div div input[type='text'] {
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    width: 380px;
    text-indent: 15px;
    padding: 0px;
    border: 1px solid #e5e5e5;
}

.search_div div input[type='button'] {
    display: block;
    float: right;
    height: 36px;
    width: 100px;
    border: 1px solid #31B151;
    text-align: center;
    color: #fff;
    background-color: #31B151;
    cursor: pointer;
}
.ui-widget-content{
    background-color: #fff;
}
.ui-menu .ui-menu-item{
    list-style-image:none;
}
.ui-menu .ui-state-focus{
    border:none;
    border-radius: 0;
    margin:0px;
}
::-webkit-input-placeholder {
    font-size: 14px;
}

.left {
    width: 17%;
    float: left;
    overflow: hidden;
}

.right {
    width: 80%;
    float: right;
    overflow: hidden;
}

/*左侧导航*/
.nav {
    overflow: hidden;
    width: 100%;
}

.nav li a {
    display: block;
    background-color: #fff;
    height: 35px;
    line-height: 35px;
    color: #333;
    border:1px solid #DCDCDC;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    margin-bottom: 5px;
}

.nav li a:HOVER,.nav li.active a {
    color: #fff;
}
.nav li.one a:hover{background-color:#FC3630;}
.nav li.two a:hover{background-color:#3A83FB;}
.nav li.three a:hover{background-color:#FDBA2C;}
.nav li.four a:hover{background-color:#30B051;}

/*右侧内容  */

.info {
    overflow: hidden;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.info li {overflow: hidden;}

.info li h2 {
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    text-indent: 20px;
    color: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.info li h2.first {
    border-top: none;
}
.info li.one h2{background-color:#FC3630;}
.info li.two h2{background-color:#3A83FB;}
.info li.three h2{background-color:#FDBA2C;}
.info li.four h2{background-color:#30B051;}

.info li div {
    overflow: hidden;
    padding: 10px;
}

.info li div a {
    display: inline-block;
    width: 18%;
    height: 35px;
    line-height: 35px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 1%;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.info li.one div a { box-shadow: 1px 1px 5px #f9c9c7;}
.info li.two div a { box-shadow: 1px 1px 5px #bbd3fb;}
.info li.three div a { box-shadow: 1px 1px 5px #d8c8a5;}
.info li.four div a { box-shadow: 1px 1px 5px #c0e0c8;}


.info li div span a {
    color: #333;
    font-size: 14px;
}
.info li.one div span a:hover { background-color: #f9c9c7;}
.info li.two div span a:hover { background-color: #bbd3fb;}
.info li.three div span a:hover { background-color: #d8c8a5;}
.info li.four div span a:hover { background-color: #c0e0c8;}

.info li div span a:active {
    background-color: #065397;
    color: #ffffff;
    box-shadow: 1px 1px 5px #696969;
}

/*底部*/
.footer {
    height: 160px;
    line-height: 30px;
    background-color: #636363;
    text-align: center;
}

.footer .state{
    width: 40%;
    float: left;
    padding-top: 50px;
}
.footer .state p{
    line-height: 30px;
    font-size: 12px;
    color: #FFFFFF;
}

.footer .state p a {
    color: #FFFFFF;
    font-size: 14px;
}

.footer .ems-cnpl{
    width: 30%;
    float: left;
    padding-top: 20px;
}

.footer .ems-cnpl span{
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: center;
    color:#fff;
    font-size: 12px;
}
.footer .ems-cnpl img{
    display: block;
    margin: 0px auto;
}

.link {
    color: #fff;
    font-size: 14px;
}


.mt30 {
    margin-top: 30px;
}
/*输入框词语提示*/
.sug-wrap {
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 500px;
    text-indent: 15px;
    padding: 0px;
    border: 1px solid #e5e5e5;
    text-align: center;
    color: #1C1C1C;
}

#suggest ul {
    padding: 0 0 0 0;
}
 /*登录注册*/
.login_div{
    overflow: hidden;
    width:400px;
    margin: 50px auto;
    padding: 50px 10px 10px;
    background-color: #FFFFFF;
}
.login_div input{
    display: block;
    width: 300px;
    margin: 10px auto;
    height: 35px;
    line-height: 35px;
    text-indent: 20px;
}

.login_div .btn{
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    background-color: #30B051;
    color: #FFFFFF;
    margin: 30px auto 10px;
    text-align: center;
}

.login_div a{
    display: inline-block;
    float: right;
    color: #30B051;
    cursor: pointer;
    text-decoration: underline;
}

.gotop{
    display: none;
    width: 20px;
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 180px;
    line-height: 15px;
    font-size: 12px;
    color: #aaa;
    border: 1px solid #aaaaaa;
    text-align: center;
    cursor: pointer;
}






